{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- bootstrap meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">

  <!-- Grayscale https://github.com/BlackrockDigital/startbootstrap-grayscale CSS -->
  <link rel="stylesheet" href="{% static 'grayscale/css/grayscale.css' %}">

  <!-- UniteGallery CSS  https://github.com/vvvmax/unitegallery -->
  <link rel='stylesheet' href="{% static 'unitegallery/css/unite-gallery.css' %}" type='text/css' />
  <link rel='stylesheet' href="{% static 'unitegallery/themes/default/ug-theme-default.css' %}" type='text/css' />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

  <!-- Custom fonts for this template -->
  <link href="{% static 'grayscale/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  {% block styles %}
  {% endblock %}

  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Lala Mariselle</title>
  {% endif %}
</head>

<body id="page-top">

  <!-- Display various messages to user -->
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
    <a href="#" class="del-msg">&times;</a>
  </div>
  {% endfor %}

  {% endif %}

  {% block content %} {% endblock content %}

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'grayscale/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'grayscale/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>

  <!-- Grayscale -->
  <!-- Plugin JavaScript -->
  <script src="{% static 'grayscale/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'grayscale/js/grayscale.min.js' %}"></script>

  <!-- Unite Gallery https://github.com/vvvmax/unitegallery -->
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script type='text/javascript' src="{% static 'unitegallery/js/unitegallery.min.js' %}"></script>
  <script type='text/javascript' src="{% static 'unitegallery/themes/default/ug-theme-default.js' %}"></script>
  <script type='text/javascript' src="{% static 'unitegallery/themes/tiles/ug-theme-tiles.js' %}"></script>

  <!-- Unite Gallery start script home page -->
  <script type="text/javascript">
    jQuery(document).ready(function () {
      jQuery("#galleryHome").unitegallery({
        gallery_theme: "tiles",
        tiles_type: "justified",
        tiles_justified_row_height: 250
      });
    }); 
  </script>

  <script type="text/javascript">
    jQuery(document).ready(function () {
      jQuery("#exclusive").unitegallery({
        gallery_theme: "tiles",
        tiles_col_width: 350,
        tile_enable_border: true,			//enable border of the tile

        tiles_space_between_cols: 20,
        tile_enable_outline: true,			//enable outline of the tile (works only together with the border)
        tile_outline_color: "#8B8B8B",		//tile outline color

        tile_enable_shadow: true,			//enable shadow of the tile

      });
    }); 
  </script>

</body>

</html>