{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-selection mt-3">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group col-sm-5 pl-3">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group pl-3">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Here!</a>
        </small>
    </div>
</div>
{% endblock content %}